* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-selection { 
    background: rgba(0, 175, 240, .4);
    color: #000; 
}
::-ms-selection { 
    background: rgba(0, 175, 240, .4);
    color: #000; 
}
::-moz-selection { 
    background: rgba(0, 175, 240, .4);
    color: #000; 
}
::selection { 
    background: rgba(0, 175, 240, .4);
    color: #000; 
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#000000;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    max-width: 2560px;
}
ol,ul,li {
    list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p,
ol,ul,li {
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}
.container {
    max-width: 1270px;
}

/* === CSS for Colors === */
.text-fadeGrey {
    color: #979797!important;
}
.text-blue {
    color: #00AFF0!important;
}
/* === End CSS for Colors === */

/* === CSS for Background Colors === */
.bg-fadeBlue {
    background-color: #84C4BB!important;
}
.bg-fadeGrey {
    background-color: #F8F8F8!important;
}
/* === CSS for Background Colors === */

/* === CSS for Buttons === */
.btn {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 30px;
    min-width: 157px;
    border-color:transparent;
}
.btn-primary {
    background: -webkit-linear-gradient(to left, #F37016, #F0A110);
    background: linear-gradient(to left, #F37016, #F0A110);
}
.btn-primary:hover {
    color: #fff;
    border-color: transparent;
}
/* === CSS for Buttons === */

/* ===  CSS for Common Text === */
.font-weight-thin {
    font-weight: 100!important;
}
.font-weight-medium {
    font-weight: 500!important;
}
.font-weight-semiBold {
    font-weight: 600!important;
}
.font-weight-extraBold {
    font-weight: 800!important;
}
/* === End CSS for Common Text === */

/* === CSS for Common Transition === */
.btn,
.btn:hover,
.transition-3ms {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* === End CSS for Common Transition === */

/* === Common CSS === */
.disable-selection *{
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.form-control {
    font-size: 14px;
}
.overlay-content {
    position: relative;
    z-index: 9;
}
.bg-text {
    position: absolute;
    z-index: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.mx-100 {
    max-width: 100px!important;
}
.mx-150 {
    max-width: 150px!important;
}
.mx-220 {
    max-width: 220px!important;
}
.mx-250 {
    max-width: 250px!important;
}
.mx-300 {
    max-width: 300px!important;
}
.mx-400 {
    max-width: 400px!important;
}
.mx-500 {
    max-width: 500px!important;
}
.mx-600 {
    max-width: 600px!important;
}
.mx-700 {
    max-width: 700px!important;
}
.mx-800 {
    max-width: 800px!important;
}
.mx-1000 {
    max-width: 1000px!important;
}
.form-control::placeholder {
    color:#fff;
}
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border:1px solid #fff;
}
.form-control {
    height: calc(2em + .75rem + 2px);
    padding: 11px 18px;
    font-size: 12px;
    color:#fff;
    background-color: transparent;
    border:1px solid #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.sections-header .heading {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto; 
    text-transform: capitalize;
}
/* === End Common CSS === */

/* === CSS for JC Header === */
.header-section .navbar-brand {
    max-width: 324px;
}
/* === End CSS for JC Header === */

/* === CSS for JC Footer === */
.footer-section {
    font-family: 'Open Sans', sans-serif;
    padding: 45px 0 60px; 
}
.footer-logo {
    max-width: 126px;
}
.copyright-text:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    background: #efefef;
    height: 2px;
    width: 100%;
    position: absolute;
    max-width: 60px;
    margin: 0 auto;
}
footer * {
    font-size:10px;
    line-height: 18px;
}
.footer-info {
    margin-top: -12px;
}
/* === End CSS for JC Footer === */

/* === CSS for Back To Top Button === */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 36px;
    width: 36px;
    font-size: 22px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #2faff0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.back-to-top.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    pointer-events: all;
}
.back-to-top span {
    height: 14px;
    width: 14px;
    display: block;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    margin: 14px auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.back-to-top:hover {
    background-color: #5793ce;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
/* === End CSS for Back To Top Button === */

/* === CSS for Banner Section === */
.banner-bg-lg-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    max-width: 1360px;
    margin: 0 auto;
    z-index: 10;
    opacity: .04;
}
.banner-bg-lg-text h2 {
    font-size: 10vw;
    font-weight: 800;
    color: #003548;
    line-height: 11vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.banner-bg {
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 75.759%;
    background-size: cover;
    min-height: 600px;
}
.banner-content {
    max-width: 500px;
}
.form-section {
    padding-bottom: 80px;
}
#particles-js {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .4;
}
.form-section .container {
    z-index: 99;
    position: relative;
}
.dotted-bg {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
/* === End CSS for Banner Section === */

/* === CSS for services Section === */
.services-section {
    padding: 100px 0 75px; 
}
.service-list-box {
    padding: 40px 0 25px; 
}
.service-img-caption {
    max-width: 127px;
    display: inline-block;
    line-height: 24px;
    margin-top: 20px;
}
.service-img {
    max-width: 70px;
}
/* === End CSS for services Section === */

/* === CSS for pricing table Section === */
.pricing-box {
    max-width: 320px;
    min-width: 250px;
    border: 1px solid #E9E9E9;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}
.pricing-section {
    padding: 70px 0 100px;
}
.pricing-box-wrapper {
    padding-top: 45px;
}
.pricing-box-head h3 {
    color: #646464;
    font-weight: 600;
    font-size: 24px;
}
.pricing-box-head {
    padding: 40px 20px 20px;
}
.pricing-center {
    position: relative;
    z-index: 9;
}
.price-box {
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    padding: 30px 20px;
}
.cut-price {
    padding-top: 8px;
    font-size: 18px;
    text-decoration: line-through;
}
.pricing-box-listing {
    padding: 50px 20px;
    max-width: 250px;
    margin: 0 auto;
    font-weight: 600;
}
.pricing-center .pricing-button {
    border-top: 1px solid #fff;
    padding: 30px 20px 50px;
}
.pricing-center .pricing-button .btn {
    -webkit-box-shadow: 0px 0px 10px #006B92;
    box-shadow: 0px 0px 10px #006B92;
}
.pricing-box-listing li {
    background-image: url(../images/check-green.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}
.pricing-center .pricing-box-listing li {
    background-image: url(../images/check-white.png);
}
.pricing-box-wrapper {
    max-width: 900px;
    margin: auto;
    /* overflow: hidden; */
}
/* .pricing-box-wrapper > .slider.center {
    margin-right: -25px;
} */
.pricing-box-wrapper .slick-track {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    padding: 24px 0;
}
.pricing-box-wrapper .slick-track > .slick-slide:first-child {
    margin-right: -20px;
}
.pricing-right {
    margin-left: -20px;
}

/* === End CSS for pricing table Section === */

/* === CSS for testimonials Section === */
.solution-section,
.testimonials-section {
    padding: 100px 0;
}
.testimonial-img {
    width: 71px;
    height: 71px;
    margin: 45px auto 10px;
}
.testimonial-name {
    color:#004B67;
}
.testimonials-slider-wrapper {
    max-width: 870px;
}
.slick-slide:focus {
    outline: 0;
}
.slick-dots > li {
    display: inline-block;
    margin: 0 2px;
}
.slick-dots {
    text-align: center;
}
.slick-dots > li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 0;
    background: #d9d8d8;
}
.slick-dots > li.slick-active button {
    background: #0f4b67;
}
/* === End CSS for testimonials Section === */

/* === CSS for Solutions section === */
.solution-content .center-circle {
    height: 160px;
    width: 160px;
    background: #00AFF0;
    position: relative;
}
.solution-content .center-circle:before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    top:8px;
    border:1px dashed #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 9;
}
.bubbles {
    padding: 10px;
    margin: 12px;
    border: 1px solid #E9E9E9;
    background: #fff;
    height: 78px;
    width: 78px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.bubble-box > span {
    max-width: 110px;
    font-weight: 700;
}
.solution-section-wrapper {
    position: relative;
    z-index: 10;
}
/* === End CSS for Solutions section === */

/* === CSS for Categories Section === */

.categories-slider-wrapper {
    padding: 70px 0 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.categories-section .sections-header {
    max-width: 1130px;
    color:#fff;
}
.categories-section .sections-header img {
    width: 16px;
    height: 8px;
}
.categories-slider .MS-content {
    overflow: hidden;
    white-space: nowrap;
}
.categories-slider .MS-content .item {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top;
}
.categories-box {
    padding: 10px;
}
.categories-box:first-child {
    margin-left: -55px;
}
.categories-box > div {
    width: 150px;
    height: 170px;
    background: #fff;
    padding:50px 10px 25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.category-caption {
    font-size: 12px;
    font-weight: 700;
    color: #585858;
    display: block;
}
.category-arrow {
    background-image: url(../images/arrow-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 25px;
    display: inline-block;
}
  
.categories-slider .MS-controls button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 35px;
}
@media (max-width: 767px) {
    .categories-slider .MS-controls button {
      display: none;
    }
}
.categories-slider .MS-controls .MS-left {
    left: 10px;
}
@media (max-width: 992px) {
    .categories-slider .MS-controls .MS-left {
      left: -2px;
    }
}
.categories-slider .MS-controls .MS-right {
    right: 10px;
}
/* === End CSS for Categories Section === */

/* === CSS for Contact section === */
.contact-form-bg > div {
    padding-bottom: 93%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* === End CSS for Contact section === */



/* === CSS for Custom Animation === */

/* ---- particles.js container ---- */
/* ---- stats.js ---- */
/* 
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
} */

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}

.animation-delay-2ms {
    -webkit-animation-delay: 0.2s!important;
    -moz-animation-delay: 0.2s!important;
    -ms-animation-delay: 0.2s!important;
    animation-delay: 0.2s!important;
}
.animation-delay-3ms {
    -webkit-animation-delay: 0.3s!important;
    -moz-animation-delay: 0.3s!important;
    -ms-animation-delay: 0.3s!important;
    animation-delay: 0.3s!important;
}
.animation-delay-4ms {
    -webkit-animation-delay: 0.4s!important;
    -moz-animation-delay: 0.4s!important;
    -ms-animation-delay: 0.4s!important;
    animation-delay: 0.4s!important;
}
.animation-delay-5ms {
    -webkit-animation-delay: 0.5s!important;
    -moz-animation-delay: 0.5s!important;
    -ms-animation-delay: 0.5s!important;
    animation-delay: 0.5s!important;
}
.animation-delay-6ms {
    -webkit-animation-delay: 0.6s!important;
    -moz-animation-delay: 0.6s!important;
    -ms-animation-delay: 0.6s!important;
    animation-delay: 0.6s!important;
}
.animation-delay-7ms {
    -webkit-animation-delay: 0.7s!important;
    -moz-animation-delay: 0.7s!important;
    -ms-animation-delay: 0.7s!important;
    animation-delay: 0.7s!important;
}
.animation-delay-8ms {
    -webkit-animation-delay: 0.8s!important;
    -moz-animation-delay: 0.8s!important;
    -ms-animation-delay: 0.8s!important;
    animation-delay: 0.8s!important;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
  
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
  


@-webkit-keyframes kenburns-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 50%;
              transform-origin: 16% 50%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
              transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
  }
  @keyframes kenburns-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 50%;
              transform-origin: 16% 50%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
              transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
  }

.kenburns-left {
	-webkit-animation: kenburns-left 8s cubic-bezier(0.33, 0.25, 0.49, 0.81) both;
	        animation: kenburns-left 8s cubic-bezier(0.33, 0.25, 0.49, 0.81) both;
}